<h1>Кадровое агентство</h1>

<table width="25%">
  <tr>
  	<td><b><%= link_to "Работники", man_index_path %> </b></td>
  	<td align="right"><b><%= link_to "Вакансии" , opening_index_path %> </b></td>
  </tr>
</table>