<h1>Man#index</h1>

<form action=<%= new_man_path %> method="get">
  <input type="submit" value="New person">
</form> 

<!-- <%= button_to "New", {:action => "new", :method => :get} %> --> 


<table>
  <% @allMen.each do |man| %>
    <tr>
      <td><%= link_to man.name1, man %></td>		
    </tr>
  <% end %>
</table>
